* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.8));
}

body,
input,
button {
    font-family: 'Open Sans', sans-serif;
}

input,
button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, rgba(61, 57, 57, 0.6), rgba(0, 0, 0, 1));
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

section {
    background-color: white;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 5px solid;
    border-top-color: #6b6969;
    border-right-color: #1a1a1a;
    border-bottom-color: #bdc0bc;
    border-left-color: #ffffff;
}

.input_section>h2 {
    text-align: center;
    color: rgb(43, 45, 49);
}

.input_section>form>.input {
    margin: 8px 0;
}

.input_section>form>button {
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(117, 117, 117));
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section>form>button:hover {
    border: 2px rgb(33, 38, 39) solid;
}

.input_section>form>button>span {
    font-weight: bold;
}

.input_section>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input_section>form>.input>label {
    color: rgb(43, 45, 49);
    font-weight: bold;
}

.input_section>form>.input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section>form>.input_inline>label {
    color: rgb(43, 45, 49);
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 5px solid;
    border-top-color: #6b6969;
    border-right-color: #1a1a1a;
    border-bottom-color: #bdc0bc;
    border-left-color: #ffffff;
}

.search_section>h2 {
    color: rgb(43, 45, 49);
}

.search_section>form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section>form>label {
    display: flex;
    align-items: center;
}

.search_section>form>input {
    padding: 5px;
    border-radius: 5px;
}

.search_section>form>button {
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(117, 117, 117));
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.search_section>form>button:hover {
    border: 2px rgb(33, 38, 39) solid;
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 5px solid;
    border-top-color: #6b6969;
    border-right-color: #1a1a1a;
    border-bottom-color: #bdc0bc;
    border-left-color: #ffffff;
}

.book_shelf>h2 {
    color: rgb(43, 45, 49);
}

.book_shelf>.book_list {
    padding: 16px;
}

.book_shelf>.book_list>.book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf>.book_list>.book_item>h3,
p {
    margin: 8px 0;
}

.book_shelf>.book_list>.book_item>.action>button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf>.book_list>.book_item>.action>.green {
    background: linear-gradient(-45deg, rgb(0, 128, 96), rgb(7, 146, 65));
    color: white;
}

.book_shelf>.book_list>.book_item>.action>.green:hover {
    border: 2px rgb(0, 255, 42) solid;
}

.book_shelf>.book_list>.book_item>.action>.red {
    background: linear-gradient(-45deg, rgb(192, 75, 75), rgb(221, 32, 11));
    color: white;
}

.book_shelf>.book_list>.book_item>.action>.red:hover {
    border: 2px rgb(218, 15, 0) solid;
}

footer {
    text-align: center;
    line-height: 70px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    height: 70px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 1), rgba(61, 57, 57, 0.6));
}